  
$header-color: rgb(201, 150, 235);
$section-color:rgb(68, 2, 5);
body{
    background-color:rgb(80, 79, 79);
}
header {
  h1 {
    color: $header-color;
  }
}

section{
    h3{
        color: $section-color
    }
}

