  
$header-color: rgb(201, 150, 235);
$section-color:rgb(68, 2, 5);
body{
    background-color:#820000;
    text-align: center;
}
header {
  h1 {
    color: $header-color;
    text-align: center;
  }
}

section{
    h3{
        color: $section-color
    }
}

